<div>
  <img
    class="pokemon-logo"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png"
  />

<div class='search-box'>
    <input 
    matInput
    class='search-input'
    type='text'
    placeholder="Enter Pokemon name or Id here..."
    >
    <button
    mat-button
    class='close-button'
    *ngIf='search'
    matSuffix
    aria-label="Clear"
    (click)="searchEvent('')"
    >

    </button>
</div>

</div>